@font-face {
  font-family: "iconfont"; /* Project id 4040622 */
  src: url('iconfont.woff2?t=1682499929564') format('woff2'),
       url('iconfont.woff?t=1682499929564') format('woff'),
       url('iconfont.ttf?t=1682499929564') format('truetype'),
       url('iconfont.svg?t=1682499929564#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhiding-04-04-copy-copy:before {
  content: "\ec7b";
}

.icon-jianqie:before {
  content: "\e600";
}

.icon-jianqiewenjian:before {
  content: "\e601";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-yincangbukejian:before {
  content: "\e8d5";
}

.icon-suoding:before {
  content: "\e62e";
}

.icon-shangyi:before {
  content: "\e7b5";
}

.icon-xiayi:before {
  content: "\e7b6";
}

.icon-fuzhi:before {
  content: "\ec7a";
}

.icon-qingkong:before {
  content: "\e946";
}

.icon-niantie:before {
  content: "\e64d";
}

.icon-quxiaozuhe:before {
  content: "\e632";
}

.icon-hebingxxx_huaban1:before {
  content: "\e669";
}

.icon-zhiding-04-04-copy:before {
  content: "\e625";
}

.icon-zhidi:before {
  content: "\e624";
}

