$--canvas-dark-color:#373739;
$--canvas-dark-color1:#18181c;
$--canvas-dark-color3:#18181c;
$--canvas-dark-color4:#18181c;

$--canvas-light-color:#fafafc;
$--canvas-light-color1:#86909c;
$--canvas-light-color3:#e5e6eb;
$--canvas-light-color4:#86909c;

$--color-text-2: #86909c;
